/* KEYHAN CSS Document */
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900");
* {
  margin: 0 auto;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Maven Pro', Tahoma; }

body {
  background: #f6f6f6;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  @media (min-width: 768px) {
    body.stickyontop {
      margin-top: 81px; } }

.container-1400 {
  width: 100%;
  max-width: 1400px;
  padding: 0 15px;
  overflow: auto; }

.clear {
  width: 100%;
  clear: both;
  position: relative; }

.header {
  min-height: 38px;
  background: #6b7b88;
  width: 100%; }
  .header .social-icons {
    list-style: none;
    float: right;
    margin: 0 auto; }
    .header .social-icons li {
      float: right; }
      .header .social-icons li a {
        font-size: 20px;
        color: #fff;
        line-height: 38px;
        margin: 0 5px; }
        .header .social-icons li a:hover {
          color: #31414f; }
    @media (max-width: 640px) {
      .header .social-icons {
        width: 100%;
        text-align: center;
        margin-top: 8px; }
        .header .social-icons li {
          float: none;
          display: inline-block; } }
  .header .phone {
    float: right;
    margin-right: 40px;
    line-height: 38px;
    color: #fff;
    font-size: 16px; }
    .header .phone i {
      font-size: 20px;
      float: left;
      margin-right: 10px;
      line-height: 38px; }
    @media (max-width: 767px) {
      .header .phone {
        float: left;
        margin-right: 30px; } }
    @media (max-width: 640px) {
      .header .phone {
        float: none;
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        line-height: 30px; }
        .header .phone i {
          float: none;
          display: inline-block;
          line-height: 30px; } }
  .header .email {
    float: right;
    margin-right: 40px;
    line-height: 38px;
    color: #fff;
    font-size: 16px; }
    .header .email i {
      font-size: 20px;
      float: left;
      margin-right: 10px;
      line-height: 38px; }
    @media (max-width: 767px) {
      .header .email {
        float: left;
        margin-right: 30px; } }
    @media (max-width: 640px) {
      .header .email {
        float: none;
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        line-height: 30px;
        margin-bottom: 8px; }
        .header .email i {
          float: none;
          display: inline-block;
          line-height: 30px; } }

.home-bg {
  background: url(../images/bg.jpg) no-repeat center;
  width: 100%;
  min-height: 895px;
  position: fixed;
  background-size: cover;
  z-index: -1;
  top: 0; }
  @media (max-width: 767px) {
    .home-bg {
      background: url(../images/bg.jpg) no-repeat left;
      top: -20px; } }

.navigation-menu {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  @media (min-width: 768px) {
    .navigation-menu.stickyontop {
      position: fixed;
      background: rgba(255, 255, 255, 0.9);
      top: -15px;
      left: 0;
      right: 0;
      padding: 0 40px;
      z-index: 400;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12); } }

.logo {
  background: url(../images/logo.png) no-repeat center;
  width: 180px;
  height: 51px;
  float: left;
  margin-top: 18px; }

.navbar-toggle-btn {
  background: rgba(107, 123, 136, 0.8);
  height: 40px;
  width: 45px;
  margin: 30px auto 0;
  position: absolute;
  float: right;
  right: 15px;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: none; }
  .navbar-toggle-btn .icon-bar {
    background: #fff;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 4px; }
    .navbar-toggle-btn .icon-bar:last-child {
      margin-bottom: 0; }
  @media (max-width: 767px) {
    .navbar-toggle-btn {
      display: block; } }

nav.navbar {
  float: right;
  margin-top: 34px;
  min-height: inherit; }
  @media (max-width: 992px) {
    nav.navbar {
      margin-top: 49px; } }
  @media (max-width: 767px) {
    nav.navbar {
      width: 100%;
      background: #556673;
      margin: 0px -15px;
      border-right: 15px solid #556673;
      border-left: 15px solid #556673;
      box-sizing: content-box;
      border-top: none; } }
  nav.navbar .navbar-collapse {
    padding: 0; }
  nav.navbar ul.nav {
    list-style: none;
    float: right; }
    @media (max-width: 767px) {
      nav.navbar ul.nav {
        float: none;
        padding: 25px 20px; } }
    nav.navbar ul.nav li {
      float: left;
      margin-right: 38px; }
      @media (max-width: 992px) {
        nav.navbar ul.nav li {
          margin-right: 25px; } }
      @media (max-width: 767px) {
        nav.navbar ul.nav li {
          width: 100%;
          line-height: 40px; } }
      nav.navbar ul.nav li:last-child {
        margin-right: 0; }
      nav.navbar ul.nav li.active a {
        color: #ff3a64; }
      nav.navbar ul.nav li a {
        font-size: 18px;
        color: #434343;
        text-transform: uppercase;
        background: none !important;
        font-weight: 500;
        padding: 0; }
        nav.navbar ul.nav li a:hover {
          color: #6b7b88;
          text-shadow: rgba(77, 90, 101, 0.12) 10px 9px 0; }
        @media (max-width: 992px) {
          nav.navbar ul.nav li a {
            font-size: 16px; } }
        @media (max-width: 767px) {
          nav.navbar ul.nav li a {
            font-size: 20px;
            color: #fff; } }

.home-content {
  margin-top: 110px;
  text-align: center;
  overflow: hidden; }
  .home-content h1 {
    font-size: 36px;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 0;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto; }
    @media (max-width: 992px) {
      .home-content h1 {
        font-size: 35px; } }
  .home-content h2 {
    font-size: 30px;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 0;
    font-weight: 500;
    text-transform: uppercase;
    margin: 15px auto 0; }
  .home-content p.home-des {
    font-size: 20px;
    color: #fff;
    max-width: 550px;
    margin: 40px auto 40px;
    text-align: left;
    font-weight: 500;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0; }
    @media (max-width: 480px) {
      .home-content p.home-des {
        font-size: 17px; } }
  .home-content span.tiny-text {
    display: block;
    color: #FFF;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
    font-style: italic; }
  .home-content a {
    display: inline-block;
    color: #fff;
    padding: 10px 60px;
    border: 1px solid #fff;
    border-radius: 34px;
    font-weight: 600;
    font-size: 36px;
    width: 340px;
    text-align: center;
    transition: all 300ms; }
    .home-content a.btn-1 {
      background: rgba(216, 35, 67, 0.25); }
    .home-content a:hover, .home-content a:active, .home-content a:focus {
      background: #fff;
      color: #444 !important;
      text-decoration: none !important; }
    @media (max-width: 767px) {
      .home-content a {
        font-size: 20px; } }
    @media (max-width: 640px) {
      .home-content a {
        display: block;
        font-size: 20px;
        margin: 0 auto 10px;
        padding: 0 25px;
        padding: 10px 25px;
        width: 100%; } }
  @media (max-width: 767px) {
    .home-content {
      margin-top: 60px;
      text-align: center; }
      .home-content h1 {
        font-size: 34px;
        text-align: center;
        max-width: 480px; } }
    @media (max-width: 767px) and (max-width: 640px) {
      .home-content h1 {
        font-size: 28px; } }
  @media (max-width: 767px) {
      .home-content h2 {
        text-align: center;
        font-size: 26px;
        max-width: 480px; } }
    @media (max-width: 767px) and (max-width: 640px) {
      .home-content h2 {
        font-size: 24px; } }
  @media (max-width: 767px) {
      .home-content p.home-des {
        text-align: center;
        margin: 20px auto 45px; } }

.services {
  margin-top: 275px;
  padding-bottom: 40px;
  background: #f6f6f6; }
  @media (max-width: 767px) {
    .services {
      margin-top: 120px; } }
  .services .container-1400 {
    overflow: hidden;
    position: relative;
    top: -75px; }
  .services .col-lg-3 {
    padding: 10px;
    margin-bottom: 10px; }
  .services .service-item {
    width: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 9px;
    padding: 60px 30px 70px;
    height: 100%; }
    .services .service-item .icons {
      width: 129px;
      height: 129px;
      background: url(../images/icons.png) no-repeat; }
      .services .service-item .icons.icon1 {
        background-position: 0 0; }
      .services .service-item .icons.icon2 {
        background-position: -129px 0; }
      .services .service-item .icons.icon3 {
        background-position: -258px 0; }
      .services .service-item .icons.icon4 {
        background-position: -387px 0; }
    .services .service-item h3 {
      color: #6b7b88;
      font-size: 22px;
      text-align: center;
      margin: 30px auto 25px; }
    .services .service-item p {
      font-size: 18px;
      color: #7b7b7b;
      text-align: center; }

.whoweare {
  background: #6b7b88;
  width: 100%;
  padding: 100px 0;
  min-height: 600px; }
  @media (max-width: 767px) {
    .whoweare .container-1400 {
      padding: 0; } }
  .whoweare h3 {
    font-size: 36px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .whoweare h3 {
        font-size: 20px; } }
  .whoweare h4 {
    font-size: 20px;
    color: #ed848e;
    text-align: center;
    font-weight: 500;
    margin: 20px auto 35px; }
    @media (max-width: 767px) {
      .whoweare h4 {
        font-size: 16px; } }
  .whoweare p {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-align: justify;
    font-weight: 500; }
    @media (max-width: 767px) {
      .whoweare p {
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        font-weight: 400; } }
  .whoweare a.btn {
    font-size: 22px;
    color: #e1838d;
    font-weight: 600;
    line-height: 68px;
    padding: 0 80px;
    border-radius: 34px;
    margin: 30px auto 0;
    background: #FFF;
    transition: all 300ms; }
    .whoweare a.btn:hover {
      background: #e1838d;
      color: #FFF; }
    @media (max-width: 767px) {
      .whoweare a.btn {
        max-width: 100%;
        width: 100%;
        font-size: 18px;
        padding: 0 20px; } }

.stats {
  background: url(../images/bg1.jpg) no-repeat center;
  background-size: cover;
  min-height: 269px;
  width: 100%;
  padding: 80px 0 40px; }
  .stats .col-sm-2 {
    margin-bottom: 10px;
    padding: 0 5px; }
    @media (max-width: 767px) {
      .stats .col-sm-2 {
        margin-bottom: 20px; } }
  @media (max-width: 1199px) and (min-width: 767px) {
    .stats .left-2ndrow {
      margin-left: 16.66666%; } }
  .stats p {
    font-size: 38px;
    color: #ed848e;
    text-align: center;
    font-weight: 500; }
    @media (max-width: 1199px) {
      .stats p {
        font-size: 30px; } }
    @media (max-width: 992px) {
      .stats p {
        font-size: 24px; } }
    @media (max-width: 767px) {
      .stats p {
        margin: 0 auto;
        font-size: 34px; } }
  .stats h4 {
    font-size: 24px;
    color: #6b7b88;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 15px; }
    @media (max-width: 1199px) {
      .stats h4 {
        font-size: 18px; } }
    @media (max-width: 992px) {
      .stats h4 {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .stats h4 {
        margin: 0 auto;
        font-size: 16px; } }

.getaquote {
  width: 100%;
  padding: 90px 0;
  min-height: 520px;
  background: #fff; }
  .getaquote h3 {
    font-size: 36px;
    color: #6b7b88;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 30px; }
    @media (max-width: 767px) {
      .getaquote h3 {
        font-size: 20px; } }
  .getaquote form .col-lg-3 {
    margin: 12px auto;
    padding: 0 10px; }
  .getaquote form .select-box-col {
    position: relative; }
    .getaquote form .select-box-col:after {
      content: "\f0d7";
      font: normal normal normal 14px/1 FontAwesome;
      position: absolute;
      top: 26px;
      right: 28px;
      font-size: 20px;
      color: #6b7b88; }
      @media (max-width: 767px) {
        .getaquote form .select-box-col:after {
          top: 15px;
          right: 22px;
          font-size: 15px; } }
  .getaquote form input {
    width: 100%;
    display: block;
    height: 68px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    padding: 0 22px;
    font-size: 18px;
    color: #444; }
    @media (max-width: 767px) {
      .getaquote form input {
        font-size: 14px;
        height: 40px; } }
  .getaquote form select {
    width: 100%;
    display: block;
    height: 68px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    padding: 0 22px;
    font-size: 18px;
    color: #444;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    @media (max-width: 767px) {
      .getaquote form select {
        font-size: 14px;
        height: 40px; } }
  .getaquote form .submit-col {
    float: right; }
    @media (max-width: 767px) {
      .getaquote form .submit-col {
        float: none; } }
    .getaquote form .submit-col input {
      background: #6b7b88;
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      border: none;
      transition: all 300ms; }
      @media (max-width: 767px) {
        .getaquote form .submit-col input {
          font-size: 16px; } }
      .getaquote form .submit-col input:hover {
        text-shadow: #334654 18px 9px 0;
        background: #3e4e5a; }

footer {
  background: #6b7b88;
  width: 100%;
  padding: 40px 0; }
  footer .col-md-3 {
    margin-bottom: 40px; }
  footer h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 35px; }
    @media (max-width: 992px) {
      footer h4 {
        margin-bottom: 10px; } }
  footer h6 {
    color: #ed848e;
    font-size: 16px;
    font-weight: 600;
    margin-top: 4px; }
  footer p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0 auto;
    line-height: 34px; }
    footer p span {
      font-weight: 600; }
  footer ul {
    list-style: none; }
    footer ul li {
      line-height: 34px; }
      footer ul li a {
        font-size: 16px;
        color: #fff;
        text-decoration: none; }
    footer ul.licenses {
      padding-left: 15px; }
  footer .call {
    background: #ed848e;
    height: 55px;
    width: 100%;
    max-width: 260px;
    float: left;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    line-height: 55px;
    text-align: center;
    color: #fff; }
    footer .call i {
      font-size: 22px;
      position: relative;
      top: 2px;
      margin-right: 8px; }

.copyright {
  background: #798690;
  min-height: 68px;
  width: 100%; }
  .copyright ul.footer-nav {
    list-style: none;
    float: right; }
    .copyright ul.footer-nav li {
      float: left;
      font-size: 16px;
      font-weight: 400;
      position: relative;
      line-height: 68px;
      margin: 0 18px; }
      .copyright ul.footer-nav li:after {
        content: "|";
        position: absolute;
        color: #fff;
        right: -20px; }
      .copyright ul.footer-nav li:last-child {
        margin-right: 0; }
        .copyright ul.footer-nav li:last-child:after {
          display: none; }
      .copyright ul.footer-nav li a {
        color: #fff;
        text-decoration: none; }
        .copyright ul.footer-nav li a:hover {
          color: #43525f; }
  @media (max-width: 992px) {
    .copyright ul.footer-nav {
      float: none;
      margin: 0 auto;
      text-align: center; } }
  @media (max-width: 992px) and (max-width: 640px) {
    .copyright ul.footer-nav {
      margin: 20px auto; } }
  @media (max-width: 992px) {
      .copyright ul.footer-nav li {
        float: none;
        display: inline-block;
        line-height: 60px; } }
    @media (max-width: 992px) and (max-width: 640px) {
      .copyright ul.footer-nav li {
        width: 90%;
        text-align: left;
        line-height: 25px;
        margin: 5px auto; }
        .copyright ul.footer-nav li:after {
          display: none; } }

  .copyright span {
    font-size: 16px;
    color: #fff;
    line-height: 68px; }
    @media (max-width: 992px) {
      .copyright span {
        font-size: 14px;
        line-height: 20px;
        display: block;
        clear: both;
        text-align: center;
        margin: 0 auto 15px; } }

a.mailto {
  color: inherit !important;
  text-decoration: none !important; }
  a.mailto:hover {
    text-decoration: underline !important; }

/*# sourceMappingURL=style.css.map */
