<footer>
        <div class="container-1400 animated fadeInUp">
            <div class="col-md-3" id="contact">
                <h4>CONTACT us</h4>
                <p><span>Address:</span> 26126 Alizia Canyon Drive Calabasas, California, United States.</p>
                <p><span>Phone:</span> (818) 402-2302</p>
                <p><span>Fax:</span> (818) 286-1957</p>
                <p><span>Email:</span><a class="mailto" href="mailto:mona@americanmultilenders.com"> mona@americanmultilenders.com</a></p>
            </div>
            <div class="col-md-3">
                <h4>Licenses</h4>
                <h6>Company</h4>
                <ul class="licenses">
                    <li><a href="http://www2.dre.ca.gov/PublicASP/pplinfo.asp?License_id=01157016">Real Estate# 01157016</a></li>
                    <li><a href="http://www.nmlsconsumeraccess.org/">NMLS# 352077</a></li>
                </ul>
                <h6>Individual</h4>
                <ul class="licenses">
                    <li><a href="http://www2.dre.ca.gov/PublicASP/pplinfo.asp?License_id=01155933">Real Estate# 01155933</a></li>
                    <li><a href="http://www.nmlsconsumeraccess.org/">NMLS# 348602</a></li>
                </ul>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>SERVICES</h4>
                <ul>
                    <li><a href="#">Home Purchase</a></li>
                    <li><a href="#">Refience Loans</a></li>
                    <li><a href="#">Comercial Loans</a></li>
                    <li><a href="#">Construction Loans</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>STILL HAVE QUESTIONS?</h4>
                <p>Feel free to contact our loan agents.</p>
                <div class="call">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <a class="mailto" href="tel:8184022302"><span>(818) 402-2302</span></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container-1400 animated fadeInUp">
            <ul class="footer-nav">
<li class="active"><a href="/">Home</a></li>
                    <li><a class="scrollTo" href="/#services">Services</a></li>
                    <li><a href="forms">Forms</a></li>
                    <li><a target="_blank" href="https://www.zillow.com/mortgage-calculator/">Calculator</a></li>
                    <li><a class="scrollTo" href="/#getaquote">Get a Quote</a></li>
                    <li><a class="scrollTo" href="/#about">About</a></li>
                    <li><a href="contact">Contact</a></li>
            </ul>
            <span>American Multi Lenders © 2017 | ALL RIGHTS RESERVED</span>
        </div>
    </div>



