    <div class="header">
        <div class="container-1400">
            <ul class="social-icons">
                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            </ul>
            <span class="phone"><a class="mailto" href="tel:8184022302"><i class="fa fa-phone" aria-hidden="true"></i> (818) 402-2302</a></span>
            <span class="email"><a class="mailto" href="mailto:mona@americanmultilenders.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> mona@americanmultilenders.com</a></span>
        </div>
    </div>