        <div class="navigation-menu">
            <button type="button" class="navbar-toggle-btn collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <nav class="navbar">
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav">
                        <li class="active"><a class="scrollTo" href="/">Home</a></li>
                        <li><a class="scrollTo" href="/#services">SERVICES</a></li>
                        <li><a href="/forms">FORMS</a></li>
                        <li><a target="_blank" href="https://www.zillow.com/mortgage-calculator/">CALCULATOR</a></li>
                        <li><a class="scrollTo" href="/#getaquote">GET A QUOTE</a></li>
                        <li>
                            <div class="m-dropdown"><a class="dropbtn" href="#about">ABOUT <i class="fa fa-caret-down"></i></a>
                                <div class="m-dropdown-wrapper">
                                    <div class="m-dropdown-content">
                                        <a target="_blank" href="https://hosting.bytesoftware.com/apps/BWP_54251" class="btn">Loan Processor</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li><a href="contact">CONTACT</a></li>
                    </ul>
                </div>
            </nav>
            <div class="logo"></div>
            <div class="clear"></div>
        </div>